# Ignore node_modules directory
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional: MacOS directory attributes
.DS_Store

# Optional: Windows thumbnail cache files
Thumbs.db