#nanogallery2 {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 70px; /* Espacio para la barra inferior */
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #993399;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bottom-bar span {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
}

.upload-btn {
    background-color: #993399;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 40px; /* Ajustar la distancia desde el fondo */
    right: 20px;
    z-index: 1001;
}

.upload-btn span {
    font-size: 36px;
    line-height: 1; /* Ajustar la alineación vertical del símbolo "+" */
    margin: 0;
}
